body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #002258;
    color: #c1ffc1;
    padding: 0px;
    margin: 0px;
    image-rendering: pixelated;
}

a {
    color: #4ad4a5
}

div.Main {
    text-align: center;
}

div.Main > div {
    display: inline-block;
    text-align: left;
    max-width: 40em;
}

div.TableDisplay {
    display: table;
}
div.TableDisplay > div {
    display: table-row;
}
div.TableDisplay > div > div {
    display: table-cell;
    vertical-align: middle;
}

/* subnavigation */
div.Navigation {
    background-color: #4ad4a5;
    color: #002258;
    padding:1em;
    text-align: center;
    font-weight: bold;
}
div.Navigation a {
    color:#002258;
}
div.Navigation > div {
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
}
div.Navigation div {
    text-align: left;
    padding:0.5em;
    background-color: #4ad4a5;
}
div.Menu > div {
    display: none;
}
div.Menu:hover > div {
    display: block;
    position: absolute;
}